
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Url-Shortener App</h1>
        <p class="col-lg-10 fs-4">Made by Viktor Kukhar on Ruby on Rails.</p>
        <hr class="my-4 w-100">
        <div class="row">
          <div class="col-1" href="">
            <a href="https://github.com/viktorkukhar" class="link-dark">
             <h2><i class="bi bi-github"></i></h2>
            </a>
          </div>

          <div class="col-1">
              <a href="https://www.linkedin.com/in/viktorkukhar/" class="link-dark">
             <h2><i class="bi bi-linkedin"></i></h2>
               </a>
          </div>
        </div>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <div class="p-4 p-md-5 border rounded-3 bg-light">
          <%= form_for @url do |f|%>
          <div class="form-floating mb-3">
          <%= f.text_field :original_url, prompt: "placeholder text", class: "form-control"%>
          <label for="floatingInput">Put your URL here</label>
          </div>
          <%= f.submit "Just do it", class: "w-100 btn btn-lg btn-primary"%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
